@model Test
	  
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Админ-панель</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/Admin/Admin">Админ-главная <i>-</i></a></span> <span><a href="/AdminTests/AdminTests">Тесты </span></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                        <form asp-controller="AdminTests" asp-action="Edit" method="post">
                            <input type="hidden" asp-for="Id" />
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Название" asp-for="Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ссылка на картинку" asp-for="Image">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Описание" asp-for="Description"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Опубликовать" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
				</div>
			</div>
		</section>

		
    
    
  

