@model Event
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://fainaidea.com/wp-content/uploads/2016/04/news.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Текущая новость</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/News/News">Новости<i class="ion-ios-arrow-forward"></i></a></span> <span>Текущая новость <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">@Model.Name</h2>
           <p>
              <img src="@Model.Image" alt="" class="img-fluid">
            </p>
            <p>@Model.Text</p>
            
           
              
             </div>
</div>
</div>
</section>