@{
    ViewData["Title"] = "Home Page";
}

 

	<section class="home-slider owl-carousel">
	  <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
		  <div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
		  <div class="col-md-8 text-center ftco-animate">
			<h1 class="mb-4">Права и обязанности <span>детей</span></h1>
			<p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Узнать больше</a></p>
		  </div>
		</div>
		</div>
	  </div>

	  <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
		  <div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
		  <div class="col-md-8 text-center ftco-animate">
			<h1 class="mb-4">Интернет и<span> ребенок</span></h1>
			<p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Узнать больше</a></p>
		  </div>
		</div>
		</div>
	  </div>
	</section>

	<section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
		  <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
			<div class="media block-6 d-block text-center">
			  <div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-teacher"></span>
			  </div>
			  <div class="media-body p-2 mt-3">
				<h3 class="heading">Детям и подросткам</h3>
				<p>В этом разделе вы узнаете много полезной информаций для жизни в школьной среде, а так же и в повседневной.</p>
			  </div>
			</div>      
		  </div>
		  <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
			<div class="media block-6 d-block text-center">
			  <div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-reading"></span>
			  </div>
			  <div class="media-body p-2 mt-3">
				<h3 class="heading">Родителям</h3>
				<p>В этом разделе родители могут ознакомиться с правами ребенка, как првильно его воспитывать и как помочь своему ребенку в трудных ситуациях.</p>
			  </div>
			</div>    
		  </div>
		  <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
			<div class="media block-6 d-block text-center">
			  <div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-books"></span>
			  </div>
			  <div class="media-body p-2 mt-3">
				<h3 class="heading">Учителям</h3>
				<p>Раздел будет полезен для учителей, тут вы сможете узнать мнения экспертов о эффективных моделях преподования, как помочь ребенку при унижениях в школе и т.д.</p>
			  </div>
			</div>      
		  </div>
		  <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
			<div class="media block-6 d-block text-center">
			  <div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-diploma"></span>
			  </div>
			  <div class="media-body p-2 mt-3">
				<h3 class="heading">О проекте</h3>
				<p>В этом разделе вы узнаете больше о нашем проекте, его разработчиках и о экспертах которые предоставляют всю информацию.</p>
			  </div>
			</div>      
		  </div>
		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
						<div class="text px-4 ftco-animate">
				  <h2 class="mb-4">Добро пожаловать в наш "Банк знаний"</h2>
							<p>Тут ты узнаешь про все эти разделы более подробно и понятно. Не пугайся этих умных слов, наша команда сделала все просто для маленьких и не самых - если хочешь узнать больше, то жми на кнопку.</p>
							<p><a href="#" class="btn btn-secondary px-4 py-3">Перейти в банк</a></p>
						</div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
			  <h2 class="mb-4">ЗАКОНЫ КОТОРЫЕ ТЕБЕ НУЖНО ЗНАТЬ</h2>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text">
										<h3>Основы конституционного строя</h3>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text">
										<h3>Гражданство, место жительства, выезд за пределы Республики Беларусь, имя ребенка</h3>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text">
										<h3>Права ребенка</h3>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text">
										<h3>Социально-экономические, культурные права несовершеннолетних, молодёжи</h3>

									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-intro" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>Познавательные игры ждут тебя</h2>
						<p class="mb-0">Думаешь уже достаточно знаешь о правах и обязанностях? Тогда сыграй в игры которые мы для тебя приготовили и проверь себя!</p>
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-3">Я готов!</a></p>
					</div>
				</div>
			</div>
		</section>


		<!-- <section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Certified</span> Teachers</h2>
			<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
		  </div>
		</div>	
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/teacher-1.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Bianca Wilson</h3>
								<span class="position mb-2">Teacher</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
				  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/teacher-2.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Mitch Parker</h3>
								<span class="position mb-2">English Teacher</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
				  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/teacher-3.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Stella Smith</h3>
								<span class="position mb-2">Art Teacher</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
				  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/teacher-4.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Monshe Henderson</h3>
								<span class="position mb-2">Science Teacher</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
				  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Важные</span> События</h2>
			<p>Здесь расположены самые важные новости и события твоего маленького и не очень мира, следи за этим разделом - тут много чего полезного!</p>
		  </div>
		</div>	
				<div class="row">
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-1.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Пилотный проект по горячему питанию школьников запустили в Минске</a></h3>
							<p class="subheading"><span>Дата:</span> 22 декабря 2022</p>

						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-2.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Language Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>

						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-3.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Music Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>

						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-4.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Sports Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
			<h2 class="mb-4"><span>5 лет</span> работы</h2>
			<p>За это время мы высчитали некоторую скромную статистику о наших успехах!</p>
		  </div>
		</div>	
			<div class="row d-md-flex align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="row d-md-flex align-items-center">
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="18">0</strong>
						<span>Награды</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="351">0</strong>
						<span>Дети которым мы помогли</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="564">0</strong>
						<span>Счастливые родители</span>
					  </div>
					</div>
				  </div>
				  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
					  <div class="text">
						<strong class="number" data-number="300">0</strong>
						<span>Положительных отзывов</span>
					  </div>
					</div>
				  </div>
			  </div>
		  </div>
		</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light">
	  <div class="container">
		<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Отзывы</span> о нас</h2>
			<p>Здесь все отзывы людей, которые захотели высказаться о работе нашей команды, мы учитываем все пожелания и критику, так что не стесняйтесь и пишите все что думаете.</p>
		  </div>
		</div>
		<div class="row ftco-animate justify-content-center">
		  <div class="col-md-12">
			<div class="carousel-testimony owl-carousel">
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(images/teacher-1.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>Хорошая команда и отличный сайт. Пришло время рассказать моему сыну о своих правах и этот сайт очень помог нам. Спасибо вам!</p>
					<p class="name">Андрей Прокатень</p>
					<span class="position">Отец</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(images/teacher-2.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>Много полезной информаций, но сайт конечно можно было сделать и получше. Иногда от нагромождения текста глаза разбегаются. В целом сайт очень помог с детьми и их правами, рекомендую.</p>
					<p class="name">Артем Коляго</p>
					<span class="position">Отец</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(images/teacher-3.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>Дочь показала мне этот сайт, когда я запретила ей идти в гости к мальчику. Честно, я бы одна не разобралась как тут и что, но дочь сама мне открыла ее права и я переосмыслила свое отношение к этому, спасибо вам!</p>
					<p class="name">Елизавета Рыжанкова</p>
					<span class="position">Мать</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(images/teacher-4.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>сайт не очень ничего не понятно</p>
					<p class="name">владик вата</p>
					<span class="position">Отец</span>
				  </div>
				</div>
			  </div>
			  <div class="item">
				<div class="testimony-wrap d-flex">
				  <div class="user-img mr-4" style="background-image: url(images/teacher-1.jpg)">
				  </div>
				  <div class="text ml-2 bg-light">
					  <span class="quote d-flex align-items-center justify-content-center">
					  <i class="icon-quote-left"></i>
					</span>
					<p>Очень информативно и все понятно, даже мой сын которому только 6 разобрался во всем. Игры очень интересные, спасибо команде за такой замечательный сайт!</p>
					<p class="name">Даниил Сергун</p>
					<span class="position">Отец</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>

	<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6 py-5 px-md-5 bg-primary">
			  <div class="heading-section heading-section-white ftco-animate mb-5">
				<h2 class="mb-4">Оставьте отзыв!</h2>
				<p>Отзыв будет проверен администрацией перед публикацией</p>
			  </div>
			  <form action="#" class="appointment-form ftco-animate">
						<div class="d-md-flex">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Имя">
							</div>
							<div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Фамилия">
							</div>
						</div>
						<div class="d-md-flex">
							<div class="form-group">
								<div class="form-field">
							  <div class="select-wrap">
					  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
					  <select name="" id="" class="form-control">
						  <option value="">Отец или мать?</option>
						<option value="">Мать</option>
						<option value="">Отец</option>
					  </select>
					</div>
					  </div>
							</div>
							<!-- <div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Phone">
							</div> -->
						</div>
						<div class="d-md-flex">
							<div class="form-group">
					  <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Текст"></textarea>
					</div>
					<div class="form-group ml-md-4">
					  <input type="submit" value="Request A Quote" class="btn btn-secondary py-3 px-4">
					</div>
						</div>
					</form>
				</div>
		</div>
		</div>
	</section>

	<!-- <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Our</span> Pricing</h2>
			<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
		  </div>
		</div>
			<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Basic</h3>
						<p><span class="price">$24.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_1.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Standard</h3>
						<p><span class="price">$34.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_2.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-secondary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light active pb-4 text-center">
					<div>
						<h3 class="mb-3">Premium</h3>
						<p><span class="price">$54.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_3.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-tertiary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="pricing-entry bg-light pb-4 text-center">
					<div>
						<h3 class="mb-3">Platinum</h3>
						<p><span class="price">$89.50</span> <span class="per">/ 5mos</span></p>
					</div>
					<div class="img" style="background-image: url(images/bg_5.jpg);"></div>
					<div class="px-4">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<p class="button text-center"><a href="#" class="btn btn-quarternary px-4 py-3">Take A Course</a></p>
				</div>
			</div>
		</div>
		</div>
	</section> -->

		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
		  <div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Другие</span> новости</h2>
			<p>Не совсем важные нвоости и событие, но их тоже полезно будет изучить.</p>
		  </div>
		</div>
				<div class="row">
		  <div class="col-md-6 col-lg-4 ftco-animate">
			<div class="blog-entry">
			  <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('images/image_1.jpg');">
								<div class="meta-date text-center p-2">
				  <span class="day">27</span>
				  <span class="mos">Январь</span>
				  <span class="yr">2022</span>
				</div>
			  </a>
			  <div class="text bg-white p-4">
				<h3 class="heading"><a href="#">Эксперт рассказал, почему новая модель вступительной кампании значительно снижает роль репетиторов</a></h3>
				<div class="d-flex align-items-center mt-4">
					<p class="mb-0"><a href="#" class="btn btn-secondary">Узнать больше <span class="ion-ios-arrow-round-forward"></span></a></p>
					<p class="ml-auto mb-0">
						<a href="#" class="mr-2">Admin</a>

					</p>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 col-lg-4 ftco-animate">
			<div class="blog-entry">
			  <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('images/image_2.jpg');">
								<div class="meta-date text-center p-2">
				  <span class="day">10</span>
				  <span class="mos">Декабря</span>
				  <span class="yr">2023</span>
				</div>
			  </a>
			  <div class="text bg-white p-4">
				<h3 class="heading"><a href="#">Размер семейного капитала с 1 января 2023 года - 29 950 рублей</a></h3>
				<div class="d-flex align-items-center mt-4">
					<p class="mb-0"><a href="#" class="btn btn-secondary">Узнать больше <span class="ion-ios-arrow-round-forward"></span></a></p>
					<p class="ml-auto mb-0">
						<a href="#" class="mr-2">Admin</a>

					</p>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 col-lg-4 ftco-animate">
			<div class="blog-entry">
			  <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('images/image_3.jpg');">
								<div class="meta-date text-center p-2">
				  <span class="day">11</span>
				  <span class="mos">Декабря</span>
				  <span class="yr">2022</span>
				</div>
			  </a>
			  <div class="text bg-white p-4">
				<h3 class="heading"><a href="#">Глава МНС о профильных классах: главная задача - обучить детей налоговой грамотности</a></h3>
				<div class="d-flex align-items-center mt-4">
					<p class="mb-0"><a href="#" class="btn btn-secondary">Узнать больше <span class="ion-ios-arrow-round-forward"></span></a></p>
					<p class="ml-auto mb-0">
						<a href="#" class="mr-2">Admin</a>

					</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
			</div>
		</section>

		<section class="ftco-gallery">
		<div class="container-wrap">
			<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/course-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
		</div>
		</div>
	</section>
