




        <section class="hero-wrap hero-wrap-2" style="background-image: url('https://primeonline.by/wp-content/uploads/2019/06/gerda.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center">
                        <h1 class="mb-2 bread">Админ-панель</h1>

                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">

                <h1 align="center">Новости</h1>

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>
                            </div>
                            <p>Создание новости с нуля</p>
                            <p class="button text-center"><a class="btn btn-primary px-4 py-3" asp-controller="Admin" asp-action="Create" asp-route-id="">Создать</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>

                            </div>

                            <div class="px-4">
                                

                            </div>
                            <p class="button text-center"><a class="btn btn-secondary px-4 py-3" asp-controller="AdminNews" asp-action="AdminNews" asp-route-id="">Редактировать</a></p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>

                            </div>

                            <div class="px-4">
                                

                            </div>
                            <p class="button text-center"><a  class="btn btn-quarternary px-4 py-3" asp-controller="Admin" asp-action="Edit" asp-route-id="">Удалить</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">

                <h1 align="center">Тесты</h1>

                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>
                            </div>
                            <p>Создать новый вопрос</p>
                            <p class="button text-center"><a class="btn btn-primary px-4 py-3" asp-controller="Admin" asp-action="CreateTest" asp-route-id="">Создать</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>

                            </div>

                            <div class="px-4">
                                

                            </div>
                            <p class="button text-center"><a  class="btn btn-secondary px-4 py-3" asp-controller="Admin" asp-action="EditTest" asp-route-id="">Редактировать</a></p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="pricing-entry bg-light pb-4 text-center">
                            <div>

                            </div>

                            <div class="px-4">
                                

                            </div>
                            <p class="button text-center"><a class="btn btn-quarternary px-4 py-3" asp-controller="Admin" asp-action="DeleteTest" asp-route-id="">Удалить</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




       
 
