@model Question

        @using Diplom.Domain.Entities

    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://images.wallpaperscraft.ru/image/single/kod_tsifry_matritsa_127037_1920x1080.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Админ-панель</h1>
           <p class="breadcrumbs"><span class="mr-2"><a href="/Admin/Admin">Админ-главная <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"> <a href="/Admin/Tests">Тесты <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"> <a href="/Admin/Questions">Вопросы <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"> <a>Изменение вопроса <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


        <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
            <div class="container">
                <div class="row d-flex align-items-stretch no-gutters">
                    <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                        <form asp-controller="Admin" asp-action="EditQuestion" method="post">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="TestId" />
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Вопрос" asp-for="Title">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ссылка на картинку" asp-for="Image">
              </div>
              <div class="form-group">
                <textarea name="Answers" id="" cols="50" rows="10" class="form-control" placeholder="3 ответа (в конце ответа ;)" asp-for="Answers"></textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Правильный ответ" asp-for="RightAnswer">
              </div>
              <div class="form-group">
                <input type="submit" value="Опубликовать" class="btn btn-primary py-3 px-5">
              </div>
            </form>
                    </div>
                </div>
            </div>
        </section>






