
<section class="hero-wrap hero-wrap-2" style="background-image: url(https://phonoteka.org/uploads/posts/2021-05/1620798631_5-phonoteka_org-p-administrativnoe-pravo-fon-5.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Правовая библиотека</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Правовая библиотека <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


        <section class="ftco-section">
        
        <div class="library">
        <h1  align="center" class="letterL">Буква "А"</h1>
        <h1  align="center" class="zagol">Адвокат</h1>
        <p class="libText">АДВОКАТ–    человек, имеющий высшее юридическое     образование и лицензию (разрешение) на     оказание правовой помощи гражданам,     защиту их прав и законных интересов.</p>
        <h1  align="center" class="zagol">Административная отвественность</h1>
        <p class="libText">АДМИНИСТРАТИВНАЯ      ОТВЕТСТВЕННОСТЬ–     одна из форм юридической      ответственности человека за совершение    им административного правонарушения      (проступка).</p>    
        <h1  align="center" class="zagol">Акт</h1>
        <p class="libText">АКТ– 
   документ, подтверждающий      установленный факт,    событие,  действие. </p> 
        <h1  align="center" class="zagol">Алименты</h1>
        <p class="libText">АЛИМЕНТЫ–   средства на содержание, предоставляемые    по закону родственником    нетрудоспособному члену семьи (детям,    родителям).</p>  
        <h1  align="center" class="zagol">Апелляция</h1>
        <p class="libText">АПЕЛЛЯЦИЯ–     форма обжалования вступивших в силу     судебных решений.</p>  
        <h1  align="center" class="zagol">Арест</h1>
        <p class="libText">АРЕСТ–     1. Заключение под стражу обвиняемого в         совершении преступления.     2. Вид уголовного или         административного наказания.</p>  
        <h1  align="center" class="letterL">Буква "Б"</h1>
        <h1  align="center" class="zagol">Бандитизм</h1>
        <p class="libText">БАНДИТИЗМ - создание банды (вооруженной организованной группы) с целью нападения на предприятия, учреждения или отдельных лиц.</p>  
        <h1  align="center" class="zagol">Бездействие преступное</h1>
        <p class="libText"> БЕЗДЕЙСТВИЕ   ПРЕСТУПНОЕ –       разновидность преступного деяния,     выражающегося в несовершении   общественно полезного действия, которое    лицо могло и должно было совершить в     силу возложенных на него правовых    обязанностей (уклонение от военной     службы, неоказание помощи больному,     раненому и т. п.).</p>  
        <h1  align="center" class="zagol">Безопасность дорожного движения</h1>
        <p class="libText">БЕЗОПАСНОСТЬ   ДОРОЖНОГО ДВИЖЕНИЯ  -     состояние дорожного движения,      обеспечивающее минимальную     вероятность возникновения     дорожно-транспортного происшествия.</p>
        <h1  align="center" class="zagol">Брак</h1>
        <p class="libText">БРАК –     добровольный союз мужчины и     женщины, направленный на создание     семьи.</p>  
        <h1  align="center" class="zagol">Браконьерство</h1>
        <p class="libText">БРАКОНЬЕРСТВО-     незаконная охота, рыболовство, порубка    леса с нарушением установленных правил.</p>  
                <h1  align="center" class="letterL">Буква "В"</h1>

        <h1  align="center" class="zagol">Вандализм</h1>
        <p class="libText">ВАНДАЛИЗМ –     бессмысленное уничтожение     материальных и культурных ценностей.</p>  
        <h1  align="center" class="zagol">Вето</h1>
        <p class="libText">ВЕТО –     устный или письменный запрет,    наложенный на решение уполномоченным     на то органом или лицом.</p>  
        <h1  align="center" class="zagol">Вещественные доказательства</h1>
        <p class="libText">ВЕЩЕСТВЕННЫЕ     ДОКАЗАТЕЛЬСТВА - предметы или    документы, которые своим внешним    видом, внутренними свойствами, местом     нахождения или иными признаками    могут служить средством установления     истины для правильного рассмотрения    дела.</p>  
        <h1  align="center" class="zagol">Взяточничество</h1>
        <p class="libText">ВЗЯТОЧНИЧЕСТВО –     получение должностным лицом    незаконного вознаграждения (выгоды) за    благоприятное решение вопросов,    входящих в его компетенцию, либо дача    взятки лично лицом либо через     посредника.</p>  
        <h1  align="center" class="zagol">Виза</h1>
        <p class="libText">ВИЗА –     1) надпись соответствующего    должностного лица на документе,      удостоверяющая его подлинность или     придающая ему силу.    2) отметка в паспорте о разрешении на   въезд в страну, выезд или проезд через нее.</p>  
        <h1  align="center" class="zagol">Владение</h1>
        <p class="libText">ВЛАДЕНИЕ –     право, закрепляющее обладание вещью,    предоставляющее возможность для    владельца пользоваться ею и    осуществлять контроль над вещью.</p>  
        <h1  align="center" class="zagol">Вовлечение несовершеннолетнего в совершение преступления</h1>
        <p class="libText">ВОВЛЕЧЕНИЕ     НЕСОВЕРШЕННОЛЕТНЕГО В     СОВЕРШЕНИЕ ПРЕСТУПЛЕНИЯ –     умышленные действия взрослых,    направленные на формирование у лиц, не   достигших 18 лет, желания и готовности   совершать преступления или участвовать     в них.</p>  
        <h1  align="center" class="zagol">Вымогательство</h1>
        <p class="libText">ВЫМОГАТЕЛЬСТВО –     преступление, выражающееся в     требовании передачи имущества (или     права на имущество) под угрозой     применения насилия.</p>  
                        <h1  align="center" class="letterL">Буква "Г"</h1>

        <h1  align="center" class="zagol">Государственная измена</h1>
        <p class="libText">ГОСУДАРСТВЕННАЯ ИЗМЕНА –     преступление против основ    конституционного строя и безопасности    государства: шпионаж, выдача   государственной тайны или иное оказание    помощи иностранному государству в    проведении враждебной деятельности в    ущерб внешней безопасности государства.</p>  
        <h1  align="center" class="zagol">Государственный суверинитет</h1>
        <p class="libText">ГОСУДАРСТВЕННЫЙ    СУВЕРЕНИТЕТ –     присущее государству свойство     единовластия (верховенства) на всей    территории и независимость в    международных отношениях.</p>  
        <h1  align="center" class="zagol">Государство</h1>
        <p class="libText">ГОСУДАРСТВО –     организация политической власти в    обществе, осуществляющая в пределах   определенной территории установленные     задачи и функции.</p>  
        <h1  align="center" class="zagol">Гражданин</h1>
        <p class="libText">ГРАЖДАНИН –     человек, обладающий всеми правами и    обязанностями и имеющий гражданство     данного государства.</p>  
        <h1  align="center" class="zagol">Грабеж</h1>
        <p class="libText">ГРАБЕЖ –     преступление против собственности,    связанное с открытым хищением чужого     имущества.</p>  
        <h1  align="center" class="zagol">Гражданские права</h1>
        <p class="libText">ГРАЖДАНСКИЕ ПРАВА –    основные права человека, гарантируемые   государством (право на жизнь, на защиту     со стороны государства, свободу от   насилия, право на свободное передвижение,    на въезд-выезд, осуществление принципа      презумпции невиновности и т. п.).</p>  
        <h1  align="center" class="zagol">Гражданство</h1>
        <p class="libText">ГРАЖДАНСТВО –    принадлежность лица к определенному    государству.</p>  
                                <h1  align="center" class="letterL">Буква "Д"</h1>

        <h1  align="center" class="zagol">Дезертирство</h1>
        <p class="libText">ДЕЗЕРТИРСТВО –    самовольное оставление военнослужащим     места службы с целью уклониться от     прохождения военной службы.</p>  
        <h1  align="center" class="zagol">Декларация</h1>
        <p class="libText">ДЕКЛАРАЦИЯ –     1) официальное заявление, объявление,         провозглашение основных принципов.    2) правовой (международно-правовой)       документ, имеющий силу рекомендации      (Всеобщая декларация прав человека).    3) заявление, предоставляемое        гражданином (организацией)        компетентному органу о характере        имущества (таможенная, налоговая        декларация и др.).</p>  
        <h1  align="center" class="zagol">Демократия</h1>
        <p class="libText">ДЕМОКРАТИЯ – это политический строй, основанный на признании принципов народовластия, свободы и равноправия граждан.</p>  
        <h1  align="center" class="zagol">Депутат</h1>
        <p class="libText">ДЕПУТАТ –     полномочный представитель населения в     органах центральной или местной      власти.</p>  
        <h1  align="center" class="zagol">Дисциплинарная ответственность</h1>
        <p class="libText">ДИСЦИПЛИНАРНАЯ   ОТВЕТСТВЕННОСТЬ –     форма воздействия на нарушителей    трудовой дисциплины, заключающаяся в     наложении дисциплинарных взысканий     администрацией предприятия или     учреждения, где трудится человек.</p>  
        <h1  align="center" class="zagol">Добровольный отказ от совершения преступления</h1>
        <p class="libText">ДОБРОВОЛЬНЫЙ ОТКАЗ   ОТ СОВЕРШЕНИЯ   ПРЕСТУПЛЕНИЯ –     прекращение по своей воле начатых     преступных действий при наличии    возможности довести преступление до    конца.</p>  
        <h1  align="center" class="zagol">Доверенность</h1>
        <p class="libText">ДОВЕРЕННОСТЬ –     письменное разрешение на проведение      каких-либо действий, выдаваемое     доверителем доверенному для     представления своих интересов в       отношениях с другими лицами.</p>  
        <h1  align="center" class="zagol">Доказательство</h1>
        <p class="libText">ДОКАЗАТЕЛЬСТВА –     любые фактические данные,     устанавливающие или опровергающие    обстоятельства, которые должны быть    исследованы по делу.</p>  
        <h1  align="center" class="zagol">Должностные лица</h1>
        <p class="libText">ДОЛЖНОСТНЫЕ    ЛИЦА -  представители власти,    занимающие должности, связанные с    выполнением организационно-    распорядительных и иных юридически     значимых действий.</p>  
                                        <h1  align="center" class="letterL">Буква "Е"</h1>

        <h1  align="center" class="zagol">Единый правовой классификатор</h1>
        <p class="libText">ЕДИНЫЙ ПРАВОВОЙ КЛАССИФИКАТОР РЕСПУБЛИКИ БЕЛАРУСЬ – систематизированный свод кодов и наименований классификационных делений, отражающих отрасли, подотрасли права и правовые институты, сгруппированные по предмету правового регулирования.</p>  
        <h1  align="center" class="zagol">Естественное право</h1>
        <p class="libText">ЕСТЕСТВЕННОЕ ПРАВО –     понятие, означающее совокупность       принципов, правил, прав и ценностей,   продиктованных самой природой человека    и в силу этого не зависящих от    законодательного признания или   непризнания их в конкретном государстве.</p>  
        <h1  align="center" class="letterL">Буква "Ж"</h1>

        <h1  align="center" class="zagol">Жалоба</h1>
        <p class="libText">ЖАЛОБА –     заявление в письменной или устной     форме, указывающее на незаконное или     неправильное действие определенного     учреждения или должностного лица.</p>  
        <h1  align="center" class="zagol">Жилая комната</h1>
        <p class="libText">ЖИЛАЯ   КОМНАТА –    отдельное помещение для проживания в    квартире (одноквартирном жилом доме).</p>  
                <h1  align="center" class="letterL">Буква "З"</h1>

        <h1  align="center" class="zagol">Завещание</h1>
        <p class="libText">ЗАВЕЩАНИЕ –     устный или письменный наказ лица,     содержащий распоряжение об     использовании принадлежащего ему     имущества в случае его смерти.</p>  
        <h1  align="center" class="zagol">Задержание</h1>
        <p class="libText">ЗАДЕРЖАНИЕ –     кратковременное лишение свободы     подозреваемого в совершении     правонарушения.</p>  
        <h1  align="center" class="zagol">Заключение под стражу</h1>
        <p class="libText">ЗАКЛЮЧЕНИЕ    ПОД СТРАЖУ –     (арест) принудительное ограничение     свободы человека в период     предварительного расследования и    судебного разбирательства по уголовному     делу.</p>  
        <h1  align="center" class="zagol">Закон</h1>
        <p class="libText">ЗАКОН –     нормативный правовой акт, принятый     государственной властью,    устанавливающий общеобязательные     правила поведения.</p>  
        <h1  align="center" class="zagol">Законодательство</h1>
        <p class="libText">ЗАКОНОДАТЕЛЬСТВО –     система нормативных   правовых актов, регулирующих   общественные отношения.</p>  
        <h1  align="center" class="zagol">Заработная плата</h1>
        <p class="libText">ЗАРАБОТНАЯ    ПЛАТА –     вознаграждение в денежной или (и)     натуральной форме, получаемое     работником за выполненную работу.</p>  
                        <h1  align="center" class="letterL">Буква "И"</h1>

        <h1  align="center" class="zagol">Избиратель</h1>
        <p class="libText">ИЗБИРАТЕЛЬ –     гражданин, обладающий правом    избирать представителей в    государственные органы.</p>  
        <h1  align="center" class="zagol">Избирательное право</h1>
        <p class="libText">ИЗБИРАТЕЛЬНОЕ ПРАВО –    1) система правовых норм, регулирующих        порядок формирования выборных        гocyдapственных органов.   2) право человека избирать и быть       избранным в государственные органы.</p>  
        <h1  align="center" class="zagol">Изнасилование</h1>
        <p class="libText">ИЗНАСИЛОВАНИЕ–     половая связь с женщиной вопреки ее воле   с применением физического насилия, угроз    или с использованием беспомощного    состояния потерпевшей.</p>  
        <h1  align="center" class="zagol">Имущество</h1>
        <p class="libText">ИМУЩЕСТВО –     материальные (нематериальные)     ценности, которые находятся в    собственности человека, организации или    государства.</p>  
        <h1  align="center" class="zagol">Инфляция</h1>
        <p class="libText">ИНФЛЯЦИЯ –     избыточная масса бумажных денег по    сравнению с потребностью    товарооборота, влекущая рост цен и    падение покупательской способности.</p>  
                                <h1  align="center" class="letterL">Буква "К"</h1>

        <h1  align="center" class="zagol">Квалификация</h1>
        <p class="libText">КВАЛИФИКАЦИЯ–     уровень профессиональной подготовки к     определенному виду деятельности.</p>  
        <h1  align="center" class="zagol">Кодекс</h1>
        <p class="libText">КОДЕКС –     законодательный акт, в котором   объединены и систематизированы нормы,    регулирующие взаимоотношения людей в    конкретной сфере жизни общества.</p>  
        <h1  align="center" class="zagol">Комиссия по делам несовершеннолетних</h1>
        <p class="libText">КОМИССИЯ ПО ДЕЛАМ     НЕСОВЕРШЕННОЛЕТНИХ –    орган, действующий при местных    исполнительных и распорядительных    органах, осуществляющий профилактику    безнадзорности и правонарушений    несовершеннолетних и защиту их прав и   законных интересов.</p>  
        <h1  align="center" class="zagol">Компенсация</h1>
        <p class="libText">КОМПЕНСАЦИЯ –     1) возмещение убытков, возникших       вследствие причинения человеку ущерба.    2) связанные с трудовыми отношениями       выплаты работникам, производимые в       установленных законом случаях       (компенсационные выплаты).</p>  
        <h1  align="center" class="zagol">Конституция</h1>
        <p class="libText">КОНСТИТУЦИЯ –      Основной Закон государства, который     обладает высшей юридической силой в     сравнении с другими нормативными     правовыми актами.</p>  
        <h1  align="center" class="zagol">Кража</h1>
        <p class="libText">КРАЖА –     тайное хищение чужого     имущества.</p>  
                                        <h1  align="center" class="letterL">Буква "Л"</h1>

        <h1  align="center" class="zagol">Личность</h1>
        <p class="libText">ЛИЧНОСТЬ –     совокупность свойств, которые     характеризуют человека как социальное     существо.</p>  
        <h1  align="center" class="zagol">Лишение свободы</h1>
        <p class="libText">ЛИШЕНИЕ   СВОБОДЫ –     принудительная изоляция осужденного    от общества путем направления его в     исправительное учреждение.</p>  
        <h1  align="center" class="zagol">Лишение родительских прав</h1>
        <p class="libText">ЛИШЕНИЕ   РОДИТЕЛЬСКИХ ПРАВ –     ограничение родителей в правах за    виновное неправомерное поведение в    отношении своего ребенка.</p>  
                                                <h1  align="center" class="letterL">Буква "М"</h1>

        <h1  align="center" class="zagol">Материальная ответственность</h1>
        <p class="libText">МАТЕРИАЛЬНАЯ    ОТВЕТСТВЕННОСТЬ –     обязанность работника возместить    ущерб, причиненный предприятию,     учреждению, в пределах и в порядке,     установленных законодательством.</p>  
        <h1  align="center" class="zagol">Мелкое хулиганство</h1>
        <p class="libText">МЕЛКОЕ ХУЛИГАНСТВО –     административное правонарушение,    включающее нецензурную брань и    появление в пьяном виде в общественных     местах, оскорбительное приставание к     гражданам и др.</p>  
        <h1  align="center" class="zagol">Мера наказания</h1>
        <p class="libText">МЕРА НАКАЗАНИЯ –     наказание определённого вида и размера,     назначенное осуждённому приговором    суда на основании санкции нормы     уголовного закона, по которой     квалифицировано совершённое      преступление.</p>  
        <h1  align="center" class="zagol">Мошенничество</h1>
        <p class="libText">МОШЕННИЧЕСТВО –     преступление против собственности:     хищение чужого имущества или     приобретение права на него путем     обмана или злоупотребления доверием.</p>  
                                                        <h1  align="center" class="letterL">Буква "Н"</h1>

        <h1  align="center" class="zagol">Наказание</h1>
        <p class="libText">НАКАЗАНИЕ –     особая мера государственного     принуждения за совершённое      преступление, применяемая только    судом от имени государства к лицам,    совершившим преступление.</p>  
        <h1  align="center" class="zagol">Насилие</h1>
        <p class="libText">НАСИЛИЕ –     нанесение потерпевшему побоев,     причинение телесных повреждений, а    также иные насильственные действия,      связанные с причинением физической     боли либо с ограничением его свободы.</p>  
        <h1  align="center" class="zagol">Незаконное задержание</h1>
        <p class="libText">НЕЗАКОННОЕ   ЗАДЕРЖАНИЕ –     задержание, осуществленное с    нарушением оснований и порядка,    предусмотренных законом.</p>  
        <h1  align="center" class="zagol">Несовершеннолетие</h1>
        <p class="libText">НЕСОВЕРШЕННОЛЕТНИЕ–    граждане, не достигшие 18 лет.</p>  
        <h1  align="center" class="zagol">Норма</h1>
        <p class="libText">НОРМА –     узаконенное установление (положение,    предписание), признанный обязательным    порядок (юридическая норма, норма    поведения).</p>  
                                                                <h1  align="center" class="letterL">Буква "П"</h1>

        <h1  align="center" class="zagol">Пакт</h1>
        <p class="libText">ПАКТ –     вид международного договора.</p>  
        <h1  align="center" class="zagol">Парламент</h1>
        <p class="libText">ПАРЛАМЕНТ –      высший представительный и     законодательный орган Республики     Беларусь.</p>  
        <h1  align="center" class="zagol">Показания</h1>
        <p class="libText">ПОКАЗАНИЯ –     сообщение человека о фактических     данных, полученное во время допроса или     в процессе судебного разбирательства,   используемое для установления истины и   правильного разрешения гражданских или    уголовных дел.</p>  
        <h1  align="center" class="zagol">Права человека</h1>
        <p class="libText">ПРАВА ЧЕЛОВЕКА –     совокупность прав и свобод человека,     принадлежащих каждому от рождения с     возможностью их реализации,     охраняемых и обеспечиваемых     государством.</p>  
        <h1  align="center" class="zagol">Право</h1>
        <p class="libText">ПРАВО –     система общеобязательных правил    поведения, устанавливаемых     (санкционируемых) и обеспечиваемых    государством в целях регулирования    общественных отношений.</p>  
        <h1  align="center" class="zagol">Правонарушение</h1>
        <p class="libText">ПРАВО –     система общеобязательных правил    поведения, устанавливаемых     (санкционируемых) и обеспечиваемых    государством в целях регулирования    общественных отношений.</p>  
        <h1  align="center" class="zagol">Приговор</h1>
        <p class="libText">ПРАВО –     система общеобязательных правил    поведения, устанавливаемых     (санкционируемых) и обеспечиваемых    государством в целях регулирования    общественных отношений.</p>  
        <h1  align="center" class="zagol">Принцип</h1>
        <p class="libText">ПРАВО –     система общеобязательных правил    поведения, устанавливаемых     (санкционируемых) и обеспечиваемых    государством в целях регулирования    общественных отношений.</p>  
                                                                        <h1  align="center" class="letterL">Буква "Р"</h1>

        <h1  align="center" class="zagol">Расписка</h1>
        <p class="libText">РАСПИСКА –     документ с подписью,    удостоверяющий     получение чего-либо.</p>  
        <h1  align="center" class="zagol">Репутация</h1>
        <p class="libText">РЕПУТАЦИЯ –     общественная оценка поведения человека,   создавшееся общее мнение о его качествах,    достоинствах и недостатках.</p>  
        <h1  align="center" class="zagol">Республика Беларусь</h1>
        <p class="libText">РЕСПУБЛИКА   БЕЛАРУСЬ –     унитарное демократическое социальное    правовое государство.</p>  
       
        <h1  align="center" class="zagol">Референдум</h1>
        <p class="libText">РЕФЕРЕНДУМ –   всенародное голосование, способ принятия   гражданами Республики Беларусь решений    по важнейшим вопросам государственной    и общественной жизни.</p>  
        <h1  align="center" class="zagol">Решение</h1>
        <p class="libText">РЕШЕНИЕ –     документ судебного и иного    государственного органа о разрешении    конкретной правовой ситуации.</p>  
                                                                                <h1  align="center" class="letterL">Буква "С"</h1>

        <h1  align="center" class="zagol">Свидетель</h1>
        <p class="libText">СВИДЕТЕЛЬ –    человек, которому могут быть известны    какие-либо обстоятельства, подлежащие    установлению по данному делу.</p> 
        <h1  align="center" class="zagol">Сделка</h1>
        <p class="libText">СДЕЛКА –     действие людей или организации,      направленное на установление, изменение    или прекращение гражданских прав и    обязанностей.</p>  
        <h1  align="center" class="zagol">Следователь</h1>
        <p class="libText">СЛЕДОВАТЕЛЬ – должностное лицо, осуществляющее предварительное следствие.</p>  
        <h1  align="center" class="zagol">Суд</h1>
        <p class="libText">СУД –     орган государства, охраняющий от     посягательств интересы общества и    граждан путем осуществления     правосудия.</p>  
        <h1  align="center" class="zagol">Судья</h1>
        <p class="libText">СУДЬЯ – должностное лицо, осуществляющее правосудие и наделённое судебной властью.</p>  
         <h1  align="center" class="letterL">Буква "Т"</h1>

        <h1  align="center" class="zagol">Терроризм</h1>
        <p class="libText">ТЕРРОРИЗМ –     убийства, насилие, нападение на людей,    совершение взрывов, поджогов и иных   действий, создающих угрозу гибели людей,    вынуждающих власти к принятию     решений, выгодных террористам.</p>  
        <h1  align="center" class="zagol">Термин</h1>
        <p class="libText">ТЕРМИН –    слово или словосочетание, являющееся     обозначением строго определенного     понятия.</p>  
        <h1  align="center" class="zagol">Трудовой договор</h1>
        <p class="libText">ТРУДОВОЙ ДОГОВОР –     соглашение между работником и    нанимателем, по которому работник      обязуется выполнять работу и    подчиняться внутреннему трудовому     распорядку, а наниматель обязуется   выплачивать работнику заработную    плату и обеспечивать условия труда.</p>  
                <h1  align="center" class="letterL">Буква "У"</h1>

        <h1  align="center" class="zagol">Уголовная ответственность</h1>
        <p class="libText">УГОЛОВНАЯ   ОТВЕТСТВЕННОСТЬ -      осуждение от имени государства по    приговору суда человека, совершившего    преступление.</p>  
        <h1  align="center" class="zagol">Уголовоное право</h1>
        <p class="libText">УГОЛОВНОЕ   ПРАВО –     совокупность юридических норм,    определяющих преступность и    наказуемость деяний.</p>  
        <h1  align="center" class="zagol">Устав</h1>
        <p class="libText">УСТАВ –     документ, определяющий структуру и    порядок деятельности.</p>  
        <h1  align="center" class="zagol">Ущерб</h1>
        <p class="libText">УЩЕРБ –     потеря, убыток.</p>  
                        <h1  align="center" class="letterL">Буква "Ф"</h1>

        <h1  align="center" class="zagol">Фальсификация</h1>
        <p class="libText">ФАЛЬСИФИКАЦИЯ –     подделывание, искажение, подмена     чего-либо ложным.</p>  
        <h1  align="center" class="zagol">Физическое лицо</h1>
        <p class="libText">ФИЗИЧЕСКОЕ   ЛИЦО –     гражданин Республики Беларусь,    иностранный гражданин или лицо без    гражданства.</p>  
        <h1  align="center" class="zagol">Форс-мажор</h1>
        <p class="libText">ФОРС-МАЖОР (ОБСТОЯТЕЛЬСТВА    НЕПРЕОДОЛИМОЙ СИЛЫ) –     чрезвычайное событие, которое не могло    быть предусмотрено, предотвращено или    устранено (стихийное бедствие, военные    действия и т.д.).</p>  
                               <h1  align="center" class="letterL">Буква "Х"</h1>

        <h1  align="center" class="zagol">Халатность</h1>
        <p class="libText">ХАЛАТНОСТЬ –     невыполнение или ненадлежащее    выполнение должностным лицом своих    обязанностей вследствие небрежного или     недобросовестного к ним отношения,     причинившее существенный вред    государственным или общественным    интересам, правам и интересам граждан.</p>  
        <h1  align="center" class="zagol">Хищение</h1>
        <p class="libText">ХИЩЕНИЕ –     корыстное, противоправное    безвозмездное изъятие или обращение в    свою пользу чужого имущества,    причинившее ущерб собственнику     имущества.</p>  
        <h1  align="center" class="zagol">Хулиганство</h1>
        <p class="libText">ХУЛИГАНСТВО – грубое нарушение     общественного порядка и выражение   явного неуважения к  обществу,    сопровождающееся применением    насилия к людям либо угрозой его     применения, уничтожением либо   повреждением чужого имущества с особой    дерзостью и цинизмом.</p>  
                                      <h1  align="center" class="letterL">Буква "Ц"</h1>

        <h1  align="center" class="zagol">Целомудрие</h1>
        <p class="libText">ЦЕЛОМУДРИЕ –     строгая нравственная    чистота.</p>  
        <h1  align="center" class="zagol">Ценз</h1>
        <p class="libText">ЦЕНЗ –   условие, ограничивающее участие человека    в осуществлении тех или иных прав    (возрастной ценз, имущественный ценз,    образовательный ценз).</p>  
                                       <h1  align="center" class="letterL">Буква "Ч"</h1>

        <h1  align="center" class="zagol">Частное определение</h1>
        <p class="libText">ЧАСТНОЕ  ОПРЕДЕЛЕНИЕ –     постановление суда по поводу    установленных недостатков в работе   того или иного учреждения, предприятия    или организации с целью их    предупреждения.</p>  
                                              <h1  align="center" class="letterL">Буква "Ш"</h1>

        <h1  align="center" class="zagol">Шантаж</h1>
        <p class="libText">ШАНТАЖ –     угроза разоблачения, разглашения    компрометирующих сведений, а также    запугивание чем-нибудь с целью    вымогательства или создания выгодной     для себя обстановки.</p>  
        <h1  align="center" class="zagol">Штраф</h1>
        <p class="libText">Штраф–     денежное взыскание (санкция либо мера    наказания), устанавливаемая законом    либо гражданско-правовым договором.</p>  
                                                     <h1  align="center" class="letterL">Буква "Э"</h1>

        <h1  align="center" class="zagol">Эксперт</h1>
        <p class="libText">ЭКСПЕРТ-    не заинтересованное в исходе дела лицо,    обладающее специальными знаниями,    которому поручено производство    экспертизы.</p>  
        <h1  align="center" class="zagol">Экспертиза</h1>
        <p class="libText">ЭКСПЕРТИЗА –     исследования, проводимые в целях    установления обстоятельств, имеющих    значение для дела, специалистами,    обладающими специальными знаниями.</p>  
        <h1  align="center" class="zagol">Эмиграция</h1>
        <p class="libText">ЭМИГРАЦИЯ –     вынужденное или добровольное     переселение из своего отечества в другую     страну.</p>  
                                                            <h1  align="center" class="letterL">Буква "Ю"</h1>

        <h1  align="center" class="zagol">Юридическая обязанность</h1>
        <p class="libText">ЮРИДИЧЕСКАЯ   ОБЯЗАННОСТЬ –     установленная государством мера    должного поведения участника    конкретных правоотношений.</p>  
        <h1  align="center" class="zagol">Юридическое лицо</h1>
        <p class="libText">ЮРИДИЧЕСКОЕ   ЛИЦО –     организация, обладающая имуществом,     которая от своего имени реализует     права, исполняет обязанности,    выступает стороной в судебном процессе.</p>  
        <h1  align="center" class="zagol">Юрисдикция</h1>
        <p class="libText">ЮРИСДИКЦИЯ –     установленная законодательством    совокупность полномочий    государственных органов по решению    правовых вопросов.</p>  
        <h1  align="center" class="zagol">Юрист</h1>
        <p class="libText">ЮРИСТ – специалист в области права.</p>  
                                                                   <h1  align="center" class="letterL">Буква "Я"</h1>

        <h1  align="center" class="zagol">Явка с повинной</h1>
        <p class="libText">ЯВКА С ПОВИННОЙ –     добровольное личное обращение человека,    совершившего преступление, с заявлением    о нем в правоохранительные органы с    намерением передать себя в руки    правосудия.</p>  
         




    </div>
            
           
    </section>


