@model Event
	  
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Админ-панель</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="admin_news.html">Новости <i>-</i></a></span> <span><a href="admin_test.html">Тесты </span><a/></p>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
						<form asp-controller="AdminNews" asp-action="Edit" method="post">
                            <input type="hidden" asp-for="Id" />
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Название" asp-for="Name">
                <span asp-validation-for="Name"></span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Дата" asp-for="Date">
                <span asp-validation-for="Date"></span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Издатель" asp-for="Publisher">
                <span asp-validation-for="Publisher"></span>
              </div>
              <div class="form-group">
                <textarea name="Text" id="" cols="50" rows="10" class="form-control" placeholder="Текст новости" asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
              </div>
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Ссылка на фото" asp-for="Image">
                <span asp-validation-for="Image"></span>
              </div>
              <div class="form-group">
                <input type="submit" value="Опубликовать" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
				</div>
			</div>
		</section>

		
   
    
  
